{% load static %}

<div class="single-recent-blog-post item">
  {% for post in Post%}
  
  <div class="thumb">
       <img class="img-fluid" src="{{post.image.url}}" alt="" />
       </div>
       <div class="details">
        {% for cat in post.category.all %}
         <div class="tags">
           <ul>
             <li>
               <a href="{% url 'blog:category' cat_name=cat.name    %}">{{cat.name}}</a>
             </li>
           </ul>
         </div>
         {% endfor %}
         
         <a href="{% url "blog:single" pid=post.id     %}"><h4 class="">{{post.title}}</h4></a>
         <p></p>
         <h6 class="date">{{post.published_date|date:"Y/M/d h:m"}}</h6>
       </div>
    {% endfor %}

            
      </div>
    </div>
  </div>
</section>
<!-- End recent-blog Area --> 
  




   
    
 


